.App {
  text-align: center;
  color: rgb(137, 24, 24);
  background-color: #d1edff;
  margin-top: 60px;
  padding-top: 10px;
}

.App-header {
  background-color: #718abc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: grey;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.App-link {
  color: #fb6161;
}
